*.log
code/wp-config.php
code/wp-content/advanced-cache.php
code/wp-content/backup-db/
code/wp-content/backups/
code/wp-content/blogs.dir/
code/wp-content/cache/
code/wp-content/upgrade/
code/wp-content/uploads/
code/wp-content/mu-plugins/
code/wp-content/wp-cache-config.php
code/wp-content/plugins/hello.php

code/.htaccess
code/license.txt
code/readme.html
code/sitemap.xml
code/sitemap.xml.gz
